@import url("contactform.css");
* {padding:0; margin:0;}
body {background: url(images/url6.jpg) repeat; font:11px Verdana, Geneva, sans-serif; color:#333;}
.clear {clear:both;}
ul {list-style:none;}
#wrap {width:947px; margin:auto; background:#fff; border-left: solid 8px #f5f5f5; border-right: solid 8px #f5f5f5;}
#topribbon {background: url(images/ribbonbg.jpg) repeat-x; height:52px;}
#homeheader {background: url(images/headerbg-home.jpg) repeat; height:450px; padding:8px; margin-bottom:5px;}
#leftheader {background: url(images/greenbox.jpg) no-repeat; height:334px; width:600px; float:left;}
#rightheader {background:url(images/coffeebox-ads.jpg) no-repeat; height:326px; padding-top:8px; float:right; width:284px;}
#featured-dl {background:url(images/slidepng.png) no-repeat; width:550px; height:233px; overflow:hidden;}
#slidewrapper {padding:20px 20px 0 20px;}
#homeheader h2 {display:block; font:bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:#2a3107 1px 1px 1px; color:#ece4d8; margin-bottom:10px; padding-top:10px;}
#content { background:url(images/sidebarbg.jpg) right top repeat-y;}
#left {float:left; width:645px;}
#sidebar {float:right; width:300px;}
#search {background:url(images/searchbar.jpg) left top no-repeat; height:50px;}
#sitename {display:block; font:bold 30px Georgia, "Times New Roman", Times, serif; color:#fff; padding:8px 5px 0 10px; float:left;}

#h{background-color:0099CC;  text-align: center; display:block; font:bold 30px Georgia, "Times New Roman", Times, serif;margin-left: 200px;margin-right: 200px; height: 70; }

#nav {list-style:none; display:block; float:right; width:800px;}
#nav li {display:inline; font:bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:#000 1px 1px 1px;}
#nav li a {display:block; height:35px; padding:12px 17px 0 15px;float:left; color:#D3C8C1;}
#nav li a:visited, #nav li a:active { color:#D3C8C1;}
#nav li a:hover, #nav li.active a {color:#fff; background:url(images/active-menu.jpg) center bottom no-repeat;}

#sidebar form label {display:block; font:bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:0px;}
#sidebar form {width:263px; margin:auto;}
#sidebar form div.fieldcontainer { background:url(images/txtfield-sidebar.jpg) no-repeat; height:42px; width:262px; margin-bottom:6px;}
#sidebar form .txtfield {display:block; background:transparent; border:none; font:bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif; padding:0px 0px 0 8px; height:42px; width:246px;}
#search form {display:block; padding:6px 25px 0 138px;}
#search form div {background:url(images/search-field.gif) no-repeat; width:350px; height:27px; padding:0px 0 5px 0;}
#search .searchfield {display:block; width:220px; height:24px; background:transparent; border:none; float:left; padding:5px 10px 5px 10px; font:bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #E8E6CC;}
#search .searchgo { display:block; float:left;padding:0 0 0 0px; margin-left: 20;}


#rh {color: green; height:380px; margin-top:5px; float:right; width:284px;}
#ch {color: green; height:380px; margin-top: 5px; float:left; width:250px;}
#rr { height:100px; margin-top:5px; float:right; width:284px;}
#ph {color: blue;font-size: 15px; height:450px;float:right; width:510px;}

#v {display:block; height:35px; padding:12px 17px 0 15px; float:left; color:blue;margin-left: 15;}


#bu{
	background-color: silver;
}


#eh{background-color:gray; font:bold 30px Georgia, "Times New Roman", Times, serif; height: 30; }

#ta{margin-left: 60px;padding-left: 650;}

#di h2 {display:block; font:bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:green 1px 1px 1px; color:black; margin-bottom:10px; padding-top:10px;}
#di h1 {display:block; font:bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:red 1px 1px 1px; color:green; margin-bottom:10px; padding-top:10px;}
